*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 530px;
   
    background-color: rgba(85, 103, 180, 0.258);
  
    
   

}

#table,#headding{
    padding-bottom: 1rem;
    font-size: large;
}
#table{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 2rem;
   
 

}
input,textarea{
    outline: none;
}
textarea:focus{
    outline: 1px solid grey
}
input:focus{
    outline: 1px solid grey
}
input{
    height: 1.6rem;
}
#table td{
    padding: 0.3rem;
}
#table th{
    color: rgb(13, 126, 64);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: larger;
    
}
.btn{
    width: 200px;
    height:2rem;
    margin-left: 19px;
    padding: 2rem;
    
  
   

}
.button{
    padding: 0.3rem;
    border: none;
    padding-left: 0.6rem;
    padding-right: 0.6rem;
}
#button1{
    background-color: rgb(59, 154, 195);
    color: white;
}
#button2{
    background-color: rgb(255, 1, 1);
    color: white;
}
.div-container{
    width: 100%;
    height: 150px;
    background-color: rgb(230, 230, 230);
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.7rem;
    padding-top: 0.1rem;
    padding-bottom:0.1rem ;
    font-size: medium;
    color: rgb(93, 93, 93);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
#s2{
    padding: 1rem;
}
label{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
